.app{
    min-height: 100vh;
    background-color: rgb(8, 84, 109);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: fuchsia;
  font-size: 50px;
  font-weight: bold;
}

.blue{
  color: blue;
  font-size: 20px;
  font-weight: bold;
}